body{
  background-color: cornsilk;
}

ul{
  text-align: start;
}

.hg{
  text-align: center;
}
 
img{
  width:350px;
  height: 200px;
  border-radius: 40px;
}

button{
  width: 210px;
  height: 30px;
  background-color: orange;
  color: white;
  border: 3px solid orange;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 5px;
  
}

button:hover{
  background-color: transparent;
  color: orange;
}

.container {
    text-align: center;
  }
















