body{
  background-color: beige;
}


div{
  position: relative;
  top: -10px;
  width: 340px;
  height: 55px;
  border: solid ;
  border-radius: 5px;
  background-color: white;
}

img{
  height: 50px;
  width: 50px;
  float: left;
  position: relative;
  left: 2px;
  top: 3px;
}

.Pi{
  height: 25px;
  width: 90px;
  position: relative;
  top: 15px;
  right: 10px; 
  float: right;
  background-color: plum;
}

.Py{
  
  position: relative;
  top: 20px;
  right:-4px;
}

.main{
  position: relative;
  top: 1px;
  width:345px;
  height: 200px;
  border-radius: 40px;
}

.p{
  position: relative;
  top: 5px;
}


h1{
  text-align: center;
}

.Yi{
  
  position: relative;
  top: -40px;
}


.Ui{
  position: relative;
  top: -45px;
  width: 340px;
  height: 55px;
  border: solid ;
  border-radius: 5px;
  background-color: white;
}




























e



