 /* RESET */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: cornsilk;
  font-family: Arial, sans-serif;
}

/* ---------------- FULLSCREEN VIDEO ---------------- */
.fullscreen-video {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 99999; /* ABOVE SIDEBAR */
}

.fullscreen-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------- IMAGE AFTER VIDEO ---------------- */
.after-video {
  display: none;              /* hidden initially */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.after-video img {
  width: 340px;
  height: 200px;
  border-radius: 12px;
  position: relative;
  left: 5px;
}

/* ---------------- SIDEBAR ---------------- */
.sidebar {
  width: 100px;
  background: #ffffff;
  border-right: 2px solid #eee;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.logo {
  color: #6a0dad;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.sidebar nav a {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #444;
  border-radius: 8px;
}

.sidebar nav a:hover {
  background: #f2e9ff;
  color: #6a0dad;
}

.sidebar nav a.active {
  background: #6a0dad;
  color: white;
}

/* ---------------- CONTENT ---------------- */
.content-wrapper {
  margin-left: 220px;
  padding: 20px;
}

h1 {
  position: relative;
   top: -365px;
  text-align: center;
}

/* ---------------- MOBILE MENU BUTTON ---------------- */
.menu-btn {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 48px;
  height: 48px;
  background: #6a0dad;
  color: white;
  border: none;
  font-size: 22px;
  border-radius: 6px;
  z-index: 1001;
}

/* ---------------- MOBILE RESPONSIVE ---------------- */
@media (max-width: 768px) {

  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .content-wrapper {
    margin-left: 0;
    padding-top: 80px;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

ul{
  position: relative;
  top: -370px;
  
}

h2{
  position: relative;
  top: -380px;
  text-align: center;
  
}

.Ui{ 
  height: 260px;
  width: 330px;
  position: relative;
  top: -380px;
  left: 10px;
}

.Uii{ 
  height: 260px;
  width: 330px;
  position: relative;
  top: -390px;
  left: 10px;
  
}

.Uiii{ 
  height: 350px;
  width: 330px;
  position: relative;
  top: -360px;
  left: 10px;
  
}

.Uiiii{ 
  height: 350px;
  width: 330px;
  position: relative;
  top: -350px;
  left: 10px;
  
}

.Uiiiii{ 
  height: 350px;
  width: 330px;
  position: relative;
  top: -340px;
  left: 10px;
  
}

.U{
  position: relative;
  top: -350px;
  text-align: center;
  font-size: 26px;
}

.Uiiiiii{ 
  height: 350px;
  width: 330px;
  position: relative;
  top: -360px;
  left: 10px;
  
}



















